/**
 * @file
 * Edition form styles.
 */

.app__edit::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .5);

  content: '';
  position: fixed;
  z-index: 100;
}

.app__edit__wrapper {
  padding: 10px 40px;
  width: 300px;
  height: 150px;

  background: white;

  position: absolute;
  top: 100px;
  left: auto;
  right: auto;

  z-index: 200;
  @include box-shadow(0px 0px 20px black);
}

.app__edit__button {
  height: 40px;
  width: 40px;
  padding: .5em;
  display: inline-block;
  margin: 0 .5em;

  text-indent: -9999px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  overflow: hidden;
  cursor: pointer;
}

.app__edit__cancel {
  display: inline-block;
  margin: 0 .5em;
  height: 40px;

  overflow: hidden;

  cursor: pointer;
}

.app__edit__button--update-good {
  background-image: url(../images/big-smilie.png);
}

.app__edit__button--update-bad {
  background-image: url(../images/big-sad.png);
}

.app__edit__button--delete {
  background-image: url(../images/dust-bin.png);
}
