/**
 * @file
 * Layout styles.
 */

.app {
  max-width: 400px;
  margin: 0 auto;

  @media screen and (max-width: 400px) {
    padding: 0 20px;
  }
}

.app__header {

  h1 {
    text-align: center;
  }
}

.app__header__button-row {
  overflow: hidden;
}

.app__header__button-row__button {
  display: block;
  float: left;
  width: 46%;
  margin: 2%;

  text-align: center;
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

.app__header__button-row__button__image {
  display: inline-block;
  width: 122px;
  max-width: 100%;
  height: 122px; // @todo!!

  background-repeat: no-repeat;
  background-position: center top;
  @include background-size(cover);
}

.app__header__button-row__button__image--smilie {
  background-image: url(../images/big-smilie.png);
}

.app__header__button-row__button__image--sad {
  background-image: url(../images/big-sad.png);
}

.app__header__button-row__button__label {
  display: block;

  font-family: $font-stack;
  font-size: 1.2em;
}

.app__body__statistics {
  font-weight: bold;

  overflow: hidden;

  h3 {
    text-align: center;
  }

  dt {
    float: left;
    clear: left;
    margin-bottom: .5em;
  }

  dd {
    float: left;
    margin-left: .5em;
    margin-bottom: .5em;
  }
}

.app__body__list {
  margin-top: 2em;

  text-align: center;

  a {
    text-decoration: none;
  }
}

.app__body__list__day {
  cursor: pointer;
}

.app__body__list__day__image {
  display: inline-block;
  width: 20px;
  height: 20px;

  background-position: center center;
  background-repeat: no-repeat;
}

.app__body__list__day__image--smilie {
  background-image: url(../images/small-smilie.png);
}

.app__body__list__day__image--sad {
  background-image: url(../images/small-sad.png);
}
